/* Theme toggle */
.theme_div {
    position: fixed;
    right: 130px;
    top: 31px;
    z-index: 998;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dark_light_btn {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    rotate: -45deg;
    background-color: var(--foreground);
    border: none;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.308);
}

.dark_light_btn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.479);
}

.dark_light_btn span,
.dark_light_btn:hover span {
    transform: scale(0);
    transition: all 0.5s ease;
    background-color: var(--background);
}

.dark_light_btn span.light {
    transform: scale(1);
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-top: -20px;
    background-color: var(--background);
}

/* Menu button */
.menu_div {
    position: fixed;
    right: 30px;
    top: 30px;
    z-index: 999;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#navIcon {
    width: 25px;
    height: 20px;
    border-radius: 0.4rem;
    border: none;
    background: transparent;
    transform: rotate(0deg);
    transition: all .9s ease-in-out;
    cursor: pointer;
}

#navIcon:focus {
    outline: none;
}

.menu_div:hover #navIcon {
    rotate: 180deg;
}

#navIcon span {
    display: block;
    position: absolute;
    height: 3px;
    width: calc(100% - 8px);
    background: var(--foreground);
    border-radius: 9px;
    opacity: 1;
    left: 4;
    transform: rotate(0deg);
    transition: all .25s ease-in-out;
}

#navIcon:hover span {
    background: var(--brand-primary);
}

#navIcon span:nth-child(1) {
    top: 4px;
}

#navIcon span:nth-child(2),
#navIcon span:nth-child(3) {
    top: 9px;
}

#navIcon span:nth-child(4) {
    top: 14px;
}

#navIcon.open span:nth-child(1),
#navIcon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#navIcon.open span:nth-child(2) {
    transform: rotate(45deg);
}

#navIcon.open span:nth-child(3) {
    transform: rotate(-45deg);
}

/* Side navigation */
.side_nav {
    transform: scaleX(0);
    transform-origin: right;
    transition: all 550ms ease-in-out;
}

.side_nav.show {
    transform: scaleX(1);
    position: fixed;
    width: 100%;
    height: 100dvh;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.342);
}

.hold_nav {
    transform: scaleX(0);
    transform-origin: right;
    float: right;
    width: min(80%, 500px);
    height: 100vh;
    background-color: var(--background);
    transition: all 650ms ease-in-out;
}

.hold_nav.show {
    transform: scaleX(1);
}

.show_menu_values {
    width: 100%;
    margin-top: 20vh;
    margin-left: 8vw;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.hold_nav .show_menu_values li {
    transform: scaleY(0);
    transform-origin: bottom;
    font-size: 3rem;
    list-style: none;
    font-weight: 800;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: all 750ms ease-in-out;
}

.hold_nav.show .show_menu_values li {
    transform: scaleY(1);
}

.show_menu_values li svg {
    opacity: 0;
    visibility: hidden;
    transition: opacity 350ms ease-in-out, visibility 350ms ease-in-out;
}

.show_menu_values li:hover {
    text-shadow: 0 0 20px var(--brand-primary);
}

.show_menu_values li:hover svg {
    opacity: 1;
    visibility: visible;
}

@media only screen and (max-width: 600px) {
    .show_menu_values {
        margin-top: 25vh;
        margin-left: 3vw;
    }

    .show_menu_values li {
        font-size: 2.5rem;
    }
}