:root {
  --background: #e7e7e7;
  --foreground: #313131;
  --foreground-05: #171717a8;

  /* Brand Colors */
  --brand-primary: #a4e84c;
  --brand-primary-op-50: #a4e84c77;
  --brand-primary-over-text: #313131;
    
  /* Text Colors */
  --text-color-primary: #2e2e2e;
  --text-color-secondary: #8E8E8E;

  /* Font */
  --font-family-primary: "Poppins", sans-serif;
  --font-family-secondary: "Jersey 10", sans-serif;;
}

[data-theme="dark"] {
  --background: #313131;
  --foreground: #e7e7e7;
  --foreground-05: #ededed7a;
  --text-color-primary: #eeeeee;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-family-primary);
  color: var(--text-color-primary);
  background-color: var(--background);
  transition: all 0.5s ease;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.page_container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  padding: 0 15px;
  margin: auto;
}